body {
    // background-color: #36393f;
    width: 100%;
    height: 100vh;
    background: linear-gradient( 45deg, rgba(251, 238, 147, 1) 0%, rgba(116, 227, 236, 1) 43%, rgba(242, 111, 235, 1) 100%);
    background-size: 300%;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

// ok so this works but i probably need to remove this until i can make it all work
.particlesAffect {
    z-index: 0;
}

.detailsWrapper {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    top: 36rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid white;
    border-radius: 2%;
    @media (max-width: 576px) {
        // background-color: aliceblue;
    }
}

.imageOverviewWrapper {
    display: flex;
    column-gap: 2rem;
    width: 100%;
}

.nextReleaseInfo {
    font-weight: bold;
}

.subInfo {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    font-family: bas;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.generaSearchSeparator {
    width: 100%;
    border-top: 1px solid white;
    margin-top: 1px;
    margin-bottom: 10px;
}

.linkClass {
    color: white;
    display: flex;
    font-size: 1.7rem;
    padding-top: 3%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 2;
}

.detailedPagePoster {
    border-radius: 30px;
    display: flex;
}

.recommendedShowsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    justify-content: space-evenly;
}

.overviewContent {
    max-width: 550px;
    height: 200px;
    overflow-y: auto;
}

.detailedCardTitle {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-width: 500px;
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: rgb(11, 61, 108);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: hsl(360, 100%, 100%);
    border-radius: 100vw;
    border: 0.1rem solid rgb(11, 61, 108);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(360, 100%, 50% / 1);
}