.moviePageWrapper {
  background-color: #36393f;
  width: 100%;
  height: 100vh;
}

.totalListWrapper {
  color: whitesmoke;
  text-decoration: none;
}

.uListWrapper {
  list-style: none;
}

.tvDetailsLinks {
  color: whitesmoke;
}
