.smallerSearchResultsImage {
  height: 200px;
  width: 135px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  border-radius: 20px;
}

.searchResultsImage {
  position: absolute;
  z-index: -1;
  width: 170px;
  height: 275px;
  overflow: hidden;
  border-radius: 20px;
}

.smallerSearchResultsWrapper {
  display: flex;
  justify-content: center;
}

.cardHoverFilter {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(45, 55, 72, 0.4) 0%,
    rgba(45, 55, 72, 0.9) 100%
  );
}

.filterWrapper {
  width: 100%;
  height: 280px;
}

.filterWrapper:hover {
  background: linear-gradient(
    rgba(45, 55, 72, 0.4) 0%,
    rgba(45, 55, 72, 0.9) 100%
  );
}

.cardHoverFilter:hover {
  height: 100%;
}

.smallerSearchResultsImage:hover {
  background-color: #000;
  z-index: -1;
}
